{{> head }}

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>SPACE X</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque maiores animi natus recusandae corporis soluta distinctio nisi temporibus, laboriosam adipisci exercitationem, consequuntur quod unde possimus molestias. Possimus porro nihil aliquam.</p>
        </div>

        <div class="col-4">
            <img src="assets/image.jpg" class="img-thumbnail">
        </div>


    </div>
    


  {{> footer}}